.BlockTwoColumn {
  &__header {
    @include media('md-up') {
      &::before {
        content: '';
        display: block;
        margin: -0.45rem 0;
      }
    }

    @include media('lg-up') {
      &::before {
        content: '';
        display: block;
        margin: -0.5rem 0;
      }
    }
  }

  &__section-text {
    > div > span > p {
      padding-bottom: 1rem;
      line-height: 1.5rem;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
