.BlockHero {
  &__header {
    font-family: $serif-stack;
    font-weight: 300;
    font-size: 2.5rem;
    font-weight: 100;
  }

  &__list {
    @include media('sm-down') {
      flex-wrap: wrap;
    }
  }
}
