.BlockGeneralInfo {
  min-height: 25.25rem;

  &__header {
    grid-column: 1 / 3;

    @include media('md-up') {
      grid-column: 2 / 5;
    }
  }

  &__description {
    grid-column: 1 / 3;

    @include media('md-up') {
      grid-column: 2 / 5;
    }
  }

  &__design {
    grid-column: 1 / 2;
  }

  &__design--horizontal {
    @include media('md-up') {
      grid-column: 6 / 7;
    }
  }

  &__design--vertical {
    @include media('md-up') {
      grid-column: 2 / 3;
    }
  }

  &__tech-stack {
    grid-column: 2 / 3;
  }

  &__tech-stack--horizontal {
    @include media('md-up') {
      grid-column: 7 / 8;
    }
  }

  &__tech-stack--vertical {
    @include media('md-up') {
      grid-column: 3 / 4;
    }
  }
}