.CaseStudyTopNav {
  transition: all 0.65s ease-in-out;
  transform: translateY(-2rem);

  &--active {
    transition: all 0.75s ease-in-out;
    transform: translateY(0);
  }

  @include media('md-up') {
    display: initial;
    position: fixed;
  }
}
