.SignUpForm {

  &__input,
  &__button {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &--overlay-mode {
    &__input,
    &__button {
      color: color("white");
      background-color: transparent;

      &:hover {
        color: color("gray");
      }
    }

    &__input {
      &::placeholder {
        color: color("white");
      }
    }
  }

  &--day-mode {
    &__input {
      color: color("black");

      &:hover {
        color: color("black");
      }
    }

    &__input {
      &::placeholder {
        color: color("gray");
      }
    }
  }

}
