$colors: (
  "black": #000000,
  "gray-darkest": #141414,
  "gray": #757575,
  "white": #ffffff
);

$breakpoints: (
  "sm": 640px,
  "md": 832px,
  "lg": 1024px,
  "xl": 1152px,
  "xxl": 1280px
);

$spacing-units: 0rem, 0.25rem, 0.5rem, 0.75rem, 1rem, 1.25rem, 1.5rem, 2rem,
  3rem, 4rem, 5rem, 6rem, 7rem, 8rem, 10rem;
  
$grid-columns: 8;
