$serif-stack: "Austin News Deck Web", serif;
$sans-serif-stack: "Atlas Grotesk Web", sans-serif;

.paragraph {
  font-family: $sans-serif-stack;
  font-weight: 200;
  font-size: 1.75rem;
  line-height: 2.1rem; // pt size + 20%
  letter-spacing: -5;

  @include media("md") {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

.small {
  font-family: $sans-serif-stack;
  font-size: 1rem;
  line-height: 1.25rem;
}

.tiny {
  font-family: $sans-serif-stack;
  font-size: 0.875rem;
}
