.bg-no-repeat {
  background-repeat: no-repeat;
}

.decoration-none {
  text-decoration: none;
}

input,
.link {
  color: color("black");

  &:hover {
    color: color("gray");
    cursor: pointer;
  }
}
