@import 'styles/app.scss';

$serif-stack: "Austin News Deck Web", serif;
$sans-serif-stack: "Atlas Grotesk Web", sans-serif;

.NightModeOverlay {
  background-color: color("gray-darkest");
  color: color("white");

  &__navigation {
    @include media("sm-down") {
      position: absolute;
      position: fixed;
      bottom: 0;
      left: 0;
    }
  }

  &__footer {
    @include media("md-up") {
      left: 0;
    }
  }
}
