@import 'styles/app.scss';

.NightModeOverlay {
  background-color: color("gray-darkest");
  color: color("white");

  &__navigation {
    @include media("sm-down") {
      position: absolute;
      position: fixed;
      bottom: 0;
      left: 0;
    }
  }

  &__social-media-links {
    a {
      text-decoration: none;
      color: color("white");
    }
  }

  &__footer {
    @include media("md-up") {
      left: 0;
    }
  }

  &__paragraph {
    font-family: $serif-stack;
    font-weight: 200;
    font-size: 1.65rem;
    line-height: 2.125rem;
    letter-spacing: -5;
  
    @include media("md-up") {
      font-size: 3.125rem;
      line-height: 3.75rem; 
    }
  }
}
