.BlockViewMore {
  img.left-side {
    padding-right: 0.5rem;
    @include media('sm-down') {
      padding-right: 0;
    }
  }
  img.right-side {
    padding-left: 0.5rem;
    @include media('sm-down') {
      padding-left: 0;
    }
  }

  @include media('sm-down') {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  &__footer-icon {
    max-width: 80px;
  }
}
