.BlockTwoColumn {
  &__header {
    @include media('md-up') {
      &::before {
        content: '';
        display: block;
        margin: -0.45rem 0;
      }
    }

    @include media('lg-up') {
      &::before {
        content: '';
        display: block;
        margin: -0.5rem 0;
      }
    }
  }

  &__section-title {
    &--style-none {
      @include media('xs-down') {
        text-decoration: none;
      }
    }
  }

  &__section-text {
    > div > span > p {
      line-height: 1.5rem;
    }
  }
}
