.BlockThreeColumnHero {
  &__image {
    width: 3.125rem;
    height: 3.125rem;
  }

  &__header {
    @include media('md-up') {
      &::before {
        content: '';
        display: block;
        margin: -0.45rem 0;
      }
    }

    @include media('lg-up') {
      &::before {
        content: '';
        display: block;
        margin: -0.5rem 0;
      }
    }
  }

  &__header-description > div > span > p {
    padding-bottom: 1rem;

    &:nth-child(2) {
      margin-left: 0.75rem;
    }

    &:last-child {
      margin-left: 0.75rem;
      padding-bottom: 0;
    }
  }

  &__paragraph > div > span > p {
    padding-bottom: 1.5rem;

    &:last-child {
      padding-bottom: 0;
    }
  }
}
