.ContactCTA {
  position: fixed;
  z-index: 999;
  font-family: 'Atlas Grotesk Web', sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  background: #ffffffc4;
  backdrop-filter: blur(3px);
  color: black;
  cursor: pointer;
  margin: 0;
  width: 100%;
  bottom: 0rem;
  right: 0rem;
  padding: 0.5rem;
  @include media('md') {
    width: auto;
    bottom: 1rem;
    right: 1rem;
  }

  &:hover {
    color: white;
    background-color: #000000db;
  }
}
