.Note {
  position: relative;
  z-index: 999;
  font-family: 'Atlas Grotesk Web', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  width: 100%;
  border: none;
  background: black;
  color: white;
  text-align: center;
}
