.SignUpForm {
  &__input,
  &__button {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
  }

  &__button:disabled {
    color: color('gray');
    cursor: not-allowed;
  }

  &__error {
    color: color('error');
  }

  &__button--close {
    color: color('black');
  }

  &__reCaptcha {
    transform: scale(0.85);
    transform-origin: 0 0;
  }

  &--overlay-mode {
    &__input,
    &__button {
      color: color('white');
      background-color: transparent;

      &:hover {
        color: color('gray');
      }
    }

    &__input {
      &::placeholder {
        color: color('white');
      }
    }
  }

  &--day-mode {
    &__input {
      color: color('black');
      background-color: transparent;

      &:hover {
        color: color('black');
      }
    }

    &__input {
      &::placeholder {
        color: color('gray');
      }
    }
  }
}
