.slider-control-bottomcenter {
  display: none;
}

.slider-control-centerright, .slider-control-centerleft {
  transform: translateY(0%) !important;
  width: 50%;
  height: 50%;
  top: 0 !important;

  button {
    opacity: 0 !important;
    width: 100%;
    height: 100%;
  }
}
