.WorkSectionAsGallery {
  &__work-hover-overlay {
    opacity: 1;

    @include media('lg-up') {
      opacity: 0;
    }

    transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);

    &--light {
      color: black;
      &:hover {
        opacity: 1;
      }
    }

    &--dark {
      color: black;
      &:hover {
        opacity: 1;
      }
      @include media('md') {
        color: white;
      }
    }

    &--dark-gradient {
      @include media('md') {
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.32) -3.5rem,
          transparent 5.5rem
        );
      }
    }

    line-height: 1.125rem;

    font-family: $sans-serif-stack;
    font-weight: 400;

    margin: 0;
    font-size: 0.75rem;
    letter-spacing: 0.4px;

    @include media('md') {
      margin: 0 2px;
      font-size: 0.9375rem;
      letter-spacing: 0.4px;
    }

    &__title {
      font-weight: 500;
      letter-spacing: 0;
      @include media('md') {
        letter-spacing: 0.4px;
      }
    }

    z-index: 99;

    &__video-button {
      all: unset;
      cursor: pointer;
    }
  }
}
