.WorkSectionAsGallery {
  &__work-hover-overlay {
    &--for-image {
      width: 100%;
      height: 100%;
    }

    &--for-video {
      width: 100%;
      height: 100%;
    }

    opacity: 1;

    @include media('lg-up') {
      opacity: 0;
    }

    transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);

    &--light {
      color: black;
      &:hover {
        opacity: 1;
      }
    }

    &--dark {
      color: black;
      &:hover {
        opacity: 1;
      }
      @include media('md') {
        color: white;
        background: linear-gradient(180deg,transparent 50%,rgba(0,0,0,.5) 150%);
      }
    }

    @extend .tiny;
    line-height: 1.125rem;
    margin: 0;

    @include media('md') {
      line-height: 1.5rem;
    }

    &--title {
      font-weight: bold;
    }

    z-index: 99;

    &--video-button {
      all: unset;
      cursor: pointer;
    }
  }
}
