.WorkSection {
  &__video {
    transition: opacity 150ms ease-in;
  }

  .MediaContainer {
    position: relative;

    &__previous {
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      right: 50%;
      cursor: w-resize;
    }

    &__next {
      position: absolute;
      left: 50%;
      right: 0;
      top: 0;
      bottom: 0;
      cursor: e-resize;
    }
  }
}
