.WorkSection {
  .MediaContainer {
    position: relative;

    &__previous {
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      right: 50%;
      background: red;

      &:hover {
        cursor: url(../../assets/previous-cursor.svg), pointer;
      }
    }

    &__next {
      position: absolute;
      left: 50%;
      right: 0;
      top: 0;
      bottom: 0;
      background: blue;

      &:hover {
        cursor: url(../../assets/next-cursor.svg), pointer;
      }
    }
  }
}