@import 'styles/app.scss';

.WorkSection {
  .MediaContainer {
    position: relative;

    &__previous {
      display: none;

      @include media("md") {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        right: 50%;
        cursor: w-resize;
      }
    }

    &__next {
      display: none;

      @include media("md") {
        display: block;
        position: absolute;
        left: 50%;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: e-resize;
      }
    }
  }
}
