@import "styles/app.scss";

.SignUpForm {
  &__input,
  &__button {
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::placeholder {
      color: color("gray");
    }
  }

  &__button:hover {
    color: color("gray");
    cursor: pointer;
  }
}
