@import "styles/app.scss";

.SignUpForm {
  &__input {
    color: color("black");
    &:hover {
      color: color("black");
    }
  }

  &__input,
  &__button {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::placeholder {
      color: color("gray");
    }
  }
}
