.SignUpForm{
  &__input,
  &__button {
    border: 0;
    -webkit-appearance: none;
    
    &::placeholder {
      color: color("gray");
    }
  }

[data-whatintent='mouse']:focus {
  outline: none;
  }
}