@font-face {
  font-family: 'Austin News Deck Web';
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Italic-Web.eot');
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Italic-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Italic-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Italic-Web.woff')
      format('woff');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Austin News Deck Web';
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Roman-Web.eot');
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Roman-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Roman-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Roman-Web.woff')
      format('woff');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Austin News Deck Web';
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-LightItalic-Web.eot');
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-LightItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-LightItalic-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-LightItalic-Web.woff')
      format('woff');
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Austin News Deck Web';
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Light-Web.eot');
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Light-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Light-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Light-Web.woff')
      format('woff');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk/AtlasGrotesk-RegularItalic-Web.eot');
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk/AtlasGrotesk-RegularItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk/AtlasGrotesk-RegularItalic-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk/AtlasGrotesk-RegularItalic-Web.woff')
      format('woff');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk/AtlasGrotesk-Regular-Web.eot');
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk/AtlasGrotesk-Regular-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk/AtlasGrotesk-Regular-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk/AtlasGrotesk-Regular-Web.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
