@import './reset.scss';

@import './config.scss';
@import '~@sanctucompu/basement/src/index';

@import './type.scss';
@import './utils.scss';
@import './global.scss';
@import './components.scss';

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-BlackItalic-Web.eot');
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-BlackItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-BlackItalic-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-BlackItalic-Web.woff')
      format('woff');
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
}

.AtlasGrotesk-BlackItalic-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-Black-Web.eot');
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-Black-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-Black-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-Black-Web.woff')
      format('woff');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

.AtlasGrotesk-Black-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-BoldItalic-Web.eot');
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-BoldItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-BoldItalic-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-BoldItalic-Web.woff')
      format('woff');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

.AtlasGrotesk-BoldItalic-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-Bold-Web.eot');
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-Bold-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-Bold-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-Bold-Web.woff')
      format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

.AtlasGrotesk-Bold-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-MediumItalic-Web.eot');
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-MediumItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-MediumItalic-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-MediumItalic-Web.woff')
      format('woff');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

.AtlasGrotesk-MediumItalic-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-Medium-Web.eot');
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-Medium-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-Medium-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-Medium-Web.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

.AtlasGrotesk-Medium-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-RegularItalic-Web.eot');
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-RegularItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-RegularItalic-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-RegularItalic-Web.woff')
      format('woff');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

.AtlasGrotesk-RegularItalic-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-Regular-Web.eot');
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-Regular-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-Regular-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-Regular-Web.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

.AtlasGrotesk-Regular-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-LightItalic-Web.eot');
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-LightItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-LightItalic-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-LightItalic-Web.woff')
      format('woff');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

.AtlasGrotesk-LightItalic-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-Light-Web.eot');
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-Light-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-Light-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-Light-Web.woff')
      format('woff');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

.AtlasGrotesk-Light-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-ThinItalic-Web.eot');
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-ThinItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-ThinItalic-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-ThinItalic-Web.woff')
      format('woff');
  font-weight: 100;
  font-style: italic;
  font-stretch: normal;
}

.AtlasGrotesk-ThinItalic-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 100;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-Thin-Web.eot');
  src: url('https://fonts.sanctuary.computer/AtlasGrotesk-Thin-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-Thin-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AtlasGrotesk-Thin-Web.woff')
      format('woff');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

.AtlasGrotesk-Thin-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#root {
  max-width: 100%;
  margin: auto;
}

@font-face {
  font-family: 'Austin News Deck Web';
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck/AustinNewsDeck-UltraItalic-Web.eot');
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-UltraItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-UltraItalic-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-UltraItalic-Web.woff')
      format('woff');
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
}

.AustinNewsDeck-UltraItalic-Web {
  font-family: 'Austin News Deck Web';
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Austin News Deck Web';
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Ultra-Web.eot');
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Ultra-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Ultra-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Ultra-Web.woff')
      format('woff');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

.AustinNewsDeck-Ultra-Web {
  font-family: 'Austin News Deck Web';
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Austin News Deck Web';
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-FatItalic-Web.eot');
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-FatItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-FatItalic-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-FatItalic-Web.woff')
      format('woff');
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
}

.AustinNewsDeck-FatItalic-Web {
  font-family: 'Austin News Deck Web';
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Austin News Deck Web';
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Fat-Web.eot');
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Fat-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Fat-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Fat-Web.woff')
      format('woff');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}

.AustinNewsDeck-Fat-Web {
  font-family: 'Austin News Deck Web';
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Austin News Deck Web';
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-ExtraboldItalic-Web.eot');
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-ExtraboldItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-ExtraboldItalic-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-ExtraboldItalic-Web.woff')
      format('woff');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

.AustinNewsDeck-ExtraboldItalic-Web {
  font-family: 'Austin News Deck Web';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Austin News Deck Web';
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Extrabold-Web.eot');
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Extrabold-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Extrabold-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Extrabold-Web.woff')
      format('woff');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}

.AustinNewsDeck-Extrabold-Web {
  font-family: 'Austin News Deck Web';
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Austin News Deck Web';
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-BoldItalic-Web.eot');
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-BoldItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-BoldItalic-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-BoldItalic-Web.woff')
      format('woff');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

.AustinNewsDeck-BoldItalic-Web {
  font-family: 'Austin News Deck Web';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Austin News Deck Web';
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Bold-Web.eot');
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Bold-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Bold-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Bold-Web.woff')
      format('woff');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

.AustinNewsDeck-Bold-Web {
  font-family: 'Austin News Deck Web';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Austin News Deck Web';
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-SemiboldItalic-Web.eot');
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-SemiboldItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-SemiboldItalic-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-SemiboldItalic-Web.woff')
      format('woff');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

.AustinNewsDeck-SemiboldItalic-Web {
  font-family: 'Austin News Deck Web';
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Austin News Deck Web';
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Semibold-Web.eot');
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Semibold-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Semibold-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Semibold-Web.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

.AustinNewsDeck-Semibold-Web {
  font-family: 'Austin News Deck Web';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Austin News Deck Web';
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-MediumItalic-Web.eot');
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-MediumItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-MediumItalic-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-MediumItalic-Web.woff')
      format('woff');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

.AustinNewsDeck-MediumItalic-Web {
  font-family: 'Austin News Deck Web';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Austin News Deck Web';
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Medium-Web.eot');
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Medium-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Medium-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Medium-Web.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

.AustinNewsDeck-Medium-Web {
  font-family: 'Austin News Deck Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Austin News Deck Web';
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Italic-Web.eot');
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Italic-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Italic-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Italic-Web.woff')
      format('woff');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

.AustinNewsDeck-Italic-Web {
  font-family: 'Austin News Deck Web';
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Austin News Deck Web';
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Roman-Web.eot');
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Roman-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Roman-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Roman-Web.woff')
      format('woff');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

.AustinNewsDeck-Roman-Web {
  font-family: 'Austin News Deck Web';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Austin News Deck Web';
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-LightItalic-Web.eot');
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-LightItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-LightItalic-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-LightItalic-Web.woff')
      format('woff');
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
}

.AustinNewsDeck-LightItalic-Web {
  font-family: 'Austin News Deck Web';
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Austin News Deck Web';
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Light-Web.eot');
  src: url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Light-Web.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Light-Web.woff2')
      format('woff2'),
    url('https://fonts.sanctuary.computer/AustinNewsDeck/AustinNewsDeck-Light-Web.woff')
      format('woff');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}

.AustinNewsDeck-Light-Web {
  font-family: 'Austin News Deck Web';
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}
